<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MuteActiveWindowC</Name>
    <Version>@VERSION@</Version>
    <Title>MuteActiveWindowC Installer</Title>
    <Publisher>TfourJ</Publisher>
    <ProductUrl>https://github.com/tfourj/MuteActiveWindowC</ProductUrl>
    <WizardDefaultHeight>600</WizardDefaultHeight>
    <WizardDefaultWidth>800</WizardDefaultWidth>
    <WizardStyle>Modern</WizardStyle>
    <StartMenuDir>MuteActiveWindowC</StartMenuDir>
    <TargetDir>@HomeDir@/MuteActiveWindowC</TargetDir>
    <AdminTargetDir>@HomeDir@/MuteActiveWindowC</AdminTargetDir>
</Installer> 